*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fafaff;
    padding-top: 1px;
    margin: 0;
}

nav {
    background-color: #141b41;
    height: 3rem;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    margin: 0;
    padding: 1rem;
    width: 100%;

}

nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: #fafaff;

}
nav a:hover {
    color: #4e6cff;
}

main {
    margin-top: 3rem;
}

.name-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - 3rem);
    align-items: start;
}

.main-my-name {
    grid-row: 1 / 2; 
    padding: 1rem;
    align-self: center;

}

.main-my-description {
    padding: 1rem;
    max-width: 600px;
    text-align: justify;
}

.job-title {
    font-size: 1.7rem;
    position: absolute;
    bottom: 75%;
}

.my-name {
    font-size: 3.5rem;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    
}

@media(min-width: 768px) {
    .name-container {
        justify-items: center;
    }

    .main-my-name {
        padding-right: 5rem;
        padding-left: 5rem;

    }
    .main-my-description {
        font-size: 1.5rem;
    }
}

@media(min-width: 1024px) {
    .name-container {
        grid-template-rows: auto;
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }
}
