html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fafaff;
    padding-top: 1px;
}

nav {
    background-color: #141b41;
    height: 3rem;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    margin: 0;
    padding: 1rem;
    width: 100%;

}

nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: #fafaff;

}
nav a:hover {
    color: #4e6cff;
}

main {
    margin-top: 3rem;
}

.name-container {
    display: flex;
    align-items: center;
    height: calc(100vh - 3rem - 1px);
    flex-wrap: wrap;
    align-items: center;
}

.main-my-name {
    height: 65%;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /*align-items: center;*/

}

.main-my-description {
    height: 35%;
    flex-basis: 100%;
    padding: 1rem;
}

.job-title {
    font-size: 1.7rem;
    position: absolute;
    bottom: 65%;
}

.my-name {
    font-size: 3.5rem;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    
}

@media(min-width: 768px) {
 /**/
}

@media(min-width: 1024px) {
/**/
}

@media(min-width: 1200px) {

}
