*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fafaff;
    padding-top: 1px;
    margin: 0;
}

nav {
    background-color: #141b41;
    height: 3rem;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    margin: 0;
    padding: 1rem;
    width: 100%;

}

nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: #fafaff;

}
nav a:hover {
    color: #4e6cff;
}

main {
    margin-top: 3rem;
}

.name-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - 3rem);
    align-items: start;
}

.main-my-name {
    grid-row: 1 / 2; 
    padding: 2rem;
    align-self: center;

}

.main-my-description {
    padding: 1rem;
    max-width: 600px;
    text-align: justify;
    background-color: #f2f4ff;
}

.job-title {
    font-size: 1.7rem;
    position: absolute;
    bottom: 75%;
}

.my-name {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    
}

.my-name h1 {
    font-size: 3.5rem;
    font-weight: 550;
}

.text-container {
    max-width: 700px;
    padding: 0 2rem;
    margin: 0 auto;

}

section {
    padding: 2rem 0;
}
#name-title {
    padding: 0;
}

#about {
    background-color: #f3f5fa;
}
#projects {
    background-color: #fff2e6;
}
#about h2 {
    text-align: center;
}

#projects h2 {
    text-align: center;
}


.tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 700px));
    gap: 1.5rem;
    padding: 1rem;
    justify-content: center;
}

.project-tile {
    background-color: #dfe3f5;
    border-radius: 5px;
    padding: 1rem;
}

footer {
    background-color: #141b41;
    color: #fafaff;    
    padding-bottom: 2rem;
}

.contact-info-container p {
    text-align: center;
    padding: 1rem;
    margin: 0;
    font-size: 1.2rem;
}

.contact-info-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-info-container li {
    padding: 1rem;
}

.contact-info-container a {
    color: #fafaff;
    text-decoration: none;
}

.contact-info-container a:hover {
    color: #4e6cff;
}

@media(min-width: 768px) {
    .name-container {
        justify-items: center;
    }

    .main-my-name {
        padding-right: 5rem;
        padding-left: 5rem;

    }
    .main-my-description {
        font-size: 1.5rem;
        padding: 3rem;
    }
}

@media(min-width: 1024px) {
    .name-container {
        grid-template-rows: auto;
        grid-template-columns: 1.75fr 1fr;
        align-items: center;
    }
}
